*.o
*.a
*.so
*.so[.[0-9]*
*.opic
*.swp
*.swo
*.d
*.nfs*
lvm/lvm-util
control/tap-ctl
xenio/xenio
vhd/vhd-update
vhd/vhd-util
vhd/vhd-index
part/part-util
drivers/lock-util
drivers/tapdisk
drivers/td-rated
drivers/td-util
